@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordChangeViewModel

<h3>@Model.User.UserName</h3>

<div>
    @Html.HiddenFor(m => m.User.UserId)
    @Html.HiddenFor(m => m.ActionId)
    <div>
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(m => m.CurrentPassword)
        @if (Model.IncorrectPassword)
        {
            <span class="field-validation-error"><span>The password you entered was incorrect.</span></span>
        }
    </div>
    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div>
        @Html.LabelFor(m => m.NewPasswordConfirm)
        @Html.TextBoxFor(m => m.NewPasswordConfirm, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(m => m.NewPasswordConfirm)
    </div>
</div>